/* modified versions of stack.css */
.stack {
  padding: 80px 80px;
  height: 960px;
  width: 1280px;
}

.titlepage {
  padding: 160px 80px;
}

body {
  height: 960px;
  width: 1280px;
}



a {
  text-decoration: none;
  border-bottom: dotted 1px #555;
}

a.gray {
  color: #969696;
}


aside a {
  color: #06f;
}





font.gray {
  color: #969696;
}

font.small {
  font-size: 28px;
}

font.vsmall {
  font-size: 18px;
}





ul {
  margin-left: 120px;
}

ul.small {
  font-size: 36px;
  color: #969696;
}

ul.small ul {
  margin-left: 40px;
  font-size: 28px;
}

li {
  margin-bottom: 30px;
}

ul.tight {
  font-size: 36px;
  color: #969696;
}

ul.tight li {
  margin-bottom: 14px;
}

li li {
  margin-bottom: 8px;
}




.big {
  font-size: 128px;
}

.caption {
  font-size: 96px;
  text-align: center;
  text-shadow: 0px 2px 6px rgba(0,0,0,.5);
}




code.small {
  font-size: 26px;
}




.reversecolor {
  background-color: #fff;
}
.reversecolor text {
  color: #000;
}
.reversecolor h2 {
  color: #000;
}



.axis path,
.axis line {
   fill: none;
   stroke: #fff;
   shape-rendering: crispEdges;
 }

.axis text {
  font-family: sans-serif;
  font-size: 22px;
  fill: #fff;
}



#bgrect {
  fill: rgb(190,190,190);
  background-color: rgb(190,190,190);
  stroke: #fff;
}

.axislabel {
   font-family: sans-serif;
   font-size: 24px;
   fill: rgb(125,250,125);
}

#tooltip {
   font-size: 24px;
 }

.darkhighlight {
  color: #ff0099;
}

.highlight {
  color: rgb(125,250,125);
}

.lowlight {
  color: #6baed6;
}

.glow {
  color: rgb(175,255,175);
  text-shadow: 0 0 50px #0af, 0 0 3px #fff;
}

p {
  padding: 5px 30px;
  font-size: 32px;
}

.nopadding {
  padding: 0px 0px;
}

.chart {
  text-align: center;
}

p.pg {
  color: rgb(100,100,100);
  position:absolute;
  bottom:3px;
  right: 3px;
  font-size: 28px;
}

p.codelink {
  color: rgb(100,100,100);
  position:absolute;
  bottom:3px;
  left: 3px;
  margin-left: 40px;
  font-size: 18px;
}

p.reference {
  color: rgb(100,100,100);
  position:absolute;
  bottom:3px;
  left: 3px;
  margin-left: 40px;
  font-size: 28px;
}

